footer{
    padding-top: 2rem;
    background-color: $color-black-tertiary;
    display: flex;
    justify-content: center;
    max-height: 25vh;
}
#conteneur--footer{
    max-width: 1000px;
    background-color: $color-black-tertiary;
    display: flex;
    justify-content: space-evenly;
    h2, p, i,a {
        color: $color-white-primary;
    }
    p,a {
        font-size: 0.9rem;
        margin: .8rem 0 .5rem 0;
        text-justify: inter-word ;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    #footer--resume{
        max-width: 35%;
        p {
        }
    }
    #footer--contact{
        max-width: 25%;

        #footer--social{
            display: flex;
            flex-direction: row;
            //width: min-content;
            a{
                display: block;
                i{
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }
            }
        }
    }
    #footer--address{
        max-width: 25%;
    }
    
}